
@mixin margin($sizes, $screen, $dir){
  @each $name, $i in $sizes {
    @if($screen == false){
      @if($dir == top){
        .mt#{$name}{
          margin-top: #{$i};
        }
      }
      @else if($dir == right){
        .mr#{$name}{
          margin-right: #{$i};
        }
      }
      @else if($dir == bottom){
        .mb#{$name}{
          margin-bottom: #{$i};
        }
      }
      @else if($dir == left){
        .ml#{$name}{
          margin-left: #{$i};
        }
      }
      @else if($dir == false){
        .m#{$name}{
          margin: #{$i};
        }
      }
    }
    @else {
      @if($dir == top){
        .mt#{$name}\@#{$screen}{
          margin-top: #{$i};
        }
      }
      @else if($dir == right){
        .mr#{$name}\@#{$screen}{
          margin-right: #{$i};
        }
      }
      @else if($dir == bottom){
        .mb#{$name}\@#{$screen}{
          margin-bottom: #{$i};
        }
      }
      @else if($dir == left){
        .ml#{$name}\@#{$screen}{
          margin-left: #{$i};
        }
      }
      @else if($dir == false){
        .m#{$name}\@#{$screen}{
          margin: #{$i};
        }
      }
    }
  }
}

@mixin margins($screen){
  @include margin($sizes-rem, $screen, false);
  @include margin($sizes-rem, $screen, top);
  @include margin($sizes-rem, $screen, right);
  @include margin($sizes-rem, $screen, bottom);
  @include margin($sizes-rem, $screen, left);
}

@include margins(false);
