
@each $name, $color in $bg-func {
  .set.#{$name} {
    background: $color;
    color: white;
  }
}

@each $name, $color in $bg-colored {
  .set.#{$name} {
    background: $color;
    color: white;
  }
}

@each $name, $color in $bg-color-white {
  .set.#{$name} {
    background: $color;
    color: #1d1d1d;
  }
}