
%text {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-weight: 600;
}

@each $name, $i in $fonts-rem {
  h#{$name}{
    @extend %text;
    font-size: $i;
  }
  .h#{$name}{
    @extend %text;
    font-size: $i;
  }
}