
%card_top_and_bottom {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 0 1em;
  min-height: 50px;
  background: $bg-lighter;
  color: $text-grey-color;
}

.card {
  width: 100%;
  border: $border-light;
  border-radius: .2rem;

  & .title {
    @extend %card_top_and_bottom;
    border-bottom: $border-light;
  }

  & .body, &.body{
    padding: 1rem;
  }

  & .footer{
    @extend %card_top_and_bottom;
    border-top: $border-light;
  }
}