
%columns {
  flex: none;
}

.column{
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  @extend .p2;
  @extend %columns;
}
.grid {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: $media-screen-sm){
  .grid{
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }
}

@function width($i){
  @return 100% / 12 * $i;
}

@mixin column-props($i){
  @extend %columns;
  @extend .column;
  flex: none;
  width: width($i);
}

@mixin column-off($i){
  flex: none;
  margin-left: width($i);
}

@mixin column($screen, $extend){
  @for $value from 1 through  12 {
    @if $screen != false {
      .s#{$value}\@#{$screen}{
        @include column-props($value);
      }
      .s#{$value}-off\@#{$screen}{
        @include column-off($value);
      }
    }
    @else {
      .s#{$value}{
        @include column-props($value);
      }
      .s#{$value}-off{
        @include column-off($value);
      }
    }
  }
}

@include column(false,true);
@include column(xs,true);
@include column(sm,true);
@include column(md,true);
@include column(lg,true);