
*, ::after, ::before {
  box-sizing: border-box;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1em;
  display: flex;
  margin: 0;
  padding: 0;
  background: #F3F3F3;
}

//Prefix
@import "vendor/prefix";

//icons - fontawesome - https://fontawesome.com/
@import "fontawesome/scss/fontawesome";
@import "fontawesome/scss/regular";
@import "fontawesome/scss/solid";

// variables
@import "vendor/variables/var";
@import "vendor/variables/theme";
@import "vendor/variables/animations";

// components
@import "components/card";
@import "components/box";
@import "components/alert";
@import "components/button";
@import "components/content";
@import "components/grid";

// Utilities
@import "util/until";

// Media
@import "media-query";
