
*, ::after, ::before {
  box-sizing: border-box;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1em;
}

//Prefix
@import "vendor/prefix";

//icons - fontawesome - https://fontawesome.com/
@import "fontawesome/scss/regular";
@import "fontawesome/scss/solid";
@import "fontawesome/scss/fontawesome";

// variables
@import "vendor/variables/var";
@import "vendor/variables/theme";

// components
@import "components/card";
@import "components/content";
@import "components/grid";

// Utilities
@import "util/typography";
@import "util/padding";
@import "util/margin";
@import "util/display";
@import "util/action_space";

// Media
@import "media-query";
