
*, ::after, ::before {
  box-sizing: border-box;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1em;
}

@import "vendor/var";

// components
@import "components/container";
@import "components/grid";

// Utilities
@import "util/padding";

// Media
@import "media-query";
